@charset "UTF-8";

/*
	STYLE SHEET FOR JQUERY LISTNAV PLUGIN V 3.0.0, 11/22/2017
	For more information, visit http://esteinborn.github.com/jquery-listnav
*/

.listNav,
.ln-letters {
  // display: flex;
  // justify-content: space-between;
  // align-items: center;
  // overflow: hidden;
  // overflow-x: auto;
  margin-bottom: 5px;
}

.listNavHide {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

// .listNavShow {
//display: list-item;
// }

.letterCountShow {
  display: block;
}

.ln-letters {
  a {
    border-right: none;
    display: block;
    float: left;
    font-size: .9em;
    padding: 2px 6px;
    text-decoration: none;
  }


  a:hover,
  .ln-selected {
    background-color: transparent;
  }

  .ln-disabled {
    color: $dark;
  }
}

.ln-letter-count {
  color: #336699;
  font-size: .8em;
  left: 0;
  line-height: 1.35;
  position: absolute;
  text-align: center;
  top: 0;
  width: 20px;
}