.page-header {
    text-align: right;
    padding: 2.5rem 0 1.5rem;

    img {
        max-height: 18px;
        vertical-align: baseline;
    }

    // Mobile
    @include media-breakpoint-down(sm) {
        padding: 1rem 0;
    }
}