.shop {
    background-color: $body-bg;
    box-shadow: 0 2px 12px 0 rgba(#3F1266, .18);

    .shop {
        &-slide {
            &-item {
                margin-right: 30px;
            }
        }
    }
}