// Colors
$primary: #ED0382;
$primary-light:#F805B7;
$light: #FBFBFB;

$enable-responsive-font-sizes:true;
$font-family-base: "Acttive";
$headings-font-family: 'Celias';
$font-size-base: 1.375rem;
$h1-font-size: 1rem * 2.5;
$h2-font-size: 1rem * 2;
$h3-font-size: 1rem * 1.75;
$h4-font-size: 1rem * 1.5;
$h5-font-size: 1rem * 1.25;
$h6-font-size: 1rem;