@font-face {
    font-family: "Caros";
    src: url('../font/Caros_Light.otf');
    font-weight: 300;
}

@font-face {
    font-family: "Caros";
    src: url('../font/Caros_Normal.otf');
    font-weight: 400;
}

@font-face {
    font-family: "Caros";
    src: url('../font/Caros_Medium.otf');
    font-weight: 500;
}

@font-face {
    font-family: "Caros";
    src: url('../font/Caros_Bold.otf');
    font-weight: 700;
}

@font-face {
    font-family: "Caros";
    src: url('../font/Caros_ExtraBold.otf');
    font-weight: 800;
}

@font-face {
    font-family: "Celias";
    src: url('../font/Celias-Medium.otf');
}

@font-face {
    font-family: "DB HelvethaicaMon X";
    src: url('../font/DB_HelvethaicaMon_X.ttf');
    font-weight: 400;
    unicode-range: U+0E00–U+0E7F;
}

@font-face {
    font-family: "DB HelvethaicaMon X";
    src: url('../font/DB_HelvethaicaMon_X_Bd.ttf');
    font-weight: 500;
    unicode-range: U+0E00–U+0E7F;
}

@font-face {
    font-family: "Acttive";
    src: url('../font/FC\ Active\ Regular.ttf');
    font-weight: 400;
    unicode-range: U+0E00–U+0E7F;
}

@font-face {
    font-family: "DB HeaventRounded";
    src: url('../font/DB HeaventRounded Bd Cound It v3.2.1.ttf');
    font-weight: 500;
    unicode-range: U+0E00–U+0E7F;
}

@font-face {
    font-family: "DB HeaventRounded";
    src: url('../font/DB HeaventRounded Bd Cound v3.2.1.ttf');
    font-weight: 500;
    unicode-range: U+0E00–U+0E7F;
}

@font-face {
    font-family: "DB HeaventRounded";
    src: url('../font/DB HeaventRounded Bd It v3.2.1.ttf');
    font-weight: 500;
    unicode-range: U+0E00–U+0E7F;
}

@font-face {
    font-family: "DB HeaventRounded";
    src: url('../font/DB HeaventRounded Bd v3.2.1.ttf');
    font-weight: 500;
    unicode-range: U+0E00–U+0E7F;
}

@font-face {
    font-family: "DB HeaventRounded";
    src: url('../font/DB HeaventRounded Blk It v3.2.1.ttf');
    font-weight: 700;
    unicode-range: U+0E00–U+0E7F;
}

@font-face {
    font-family: "DB HeaventRounded";
    src: url('../font/DB HeaventRounded Blk v3.2.1.ttf');
    font-weight: 700;
    unicode-range: U+0E00–U+0E7F;
}

@font-face {
    font-family: "DB HeaventRounded";
    src: url('../font/DB HeaventRounded Cound It v3.2.1.ttf');
    font-weight: 400;
    unicode-range: U+0E00–U+0E7F;
}

@font-face {
    font-family: "DB HeaventRounded";
    src: url('../font/DB HeaventRounded Cound v3.2.1.ttf');
    font-weight: 400;
    unicode-range: U+0E00–U+0E7F;
}

@font-face {
    font-family: "DB HeaventRounded";
    src: url('../font/DB HeaventRounded It v3.2.1.ttf');
    font-weight: 400;
    unicode-range: U+0E00–U+0E7F;
}

@font-face {
    font-family: "DB HeaventRounded";
    src: url('../font/DB HeaventRounded Med Cound It v3.2.1.ttf');
    font-weight: 400;
    unicode-range: U+0E00–U+0E7F;
}

@font-face {
    font-family: "DB HeaventRounded";
    src: url('../font/DB HeaventRounded Med It v3.2.1.ttf');
    font-weight: 400;
    unicode-range: U+0E00–U+0E7F;
}

@font-face {
    font-family: "DB HeaventRounded";
    src: url('../font/DB HeaventRounded Med v3.2.1.ttf');
    font-weight: 400;
    unicode-range: U+0E00–U+0E7F;
}

@font-face {
    font-family: "DB HeaventRounded";
    src: url('../font/DB HeaventRoundedv3.2.1.ttf');
    font-weight: 400;
    unicode-range: U+0E00–U+0E7F;
}