header {
    padding: 1rem;
    margin-bottom: .5rem;

    .navbar {
        box-shadow: 0 2px 12px 0 rgba(#3F1266, .18);
        padding: 0;
        align-items: stretch;

        &-brand {
            padding: 1rem;
            display: flex;
            align-items: center;
            max-width: 100%;

            img {
                max-height: 40px;
            }

            @include media-breakpoint-down(md) {
                margin-right: 0;
            }
        }

        &-toggler {
            border-width: 0 0 0 1px;
        }

        &-collapse {
            align-items: stretch;

            @include media-breakpoint-down(md) {
                padding: 0 1rem;
            }
        }

        &-nav {
            .nav {
                &-item {
                    &.active .nav-link {
                        color: $primary;
                    }
                }

                &-link {
                    height: 100%;
                    display: flex;
                    align-items: center;
                    font-weight: bold;

                    &:focus {
                        color: #1a1a1a !important;
                    }

                    &.active {
                        color: $primary !important;
                    }

                    @include media-breakpoint-up(xl) {
                        padding-left: 1.5rem !important;
                        padding-right: 1.5rem !important;
                    }
                }
            }


            @include media-breakpoint-down(md) {
                margin-bottom: 1.5rem;
            }
        }

        &-business {
            background-color: $primary;
            padding: 1rem;

            img {
                max-height: 40px;
            }

            @include media-breakpoint-down(md) {
                display: block;
                padding: 1rem;
                text-align: center;
                margin-bottom: 1rem;
            }
        }
    }
}