@import './font';
@import './variables';
// Bootstrap
@import './bootstrap/bootstrap';
// Slick
@import './slick/slick';
// Jquery listnav
@import './jquery-listnav/listnav';
// Perfect scrollbar
@import './perfect-scrollbar/perfect-scrollbar';

@import './header';
@import './main';
@import './footer';

@import './card';
@import './list';

@import './landing';


html {
    overflow-x: hidden;
}

body {
    background: $body-bg url('../image/bg/body.png') no-repeat center top;
    background-size: 100% auto;
    // font-size: 1rem 1.5rem;
    position: relative;
}

a,
div {
    @include hover-focus {
        outline: none;
    }
}

a.disabled {
    opacity: .5;
    pointer-events: none;
}