#shop-rental-page {
    .shop-rental {
        .card {
            background-color: $light;
            border-radius: 1rem;
            border-width: 0;
            box-shadow: 0 3px 6px rgba(black, .16);
            overflow: hidden;
            height: calc(100% - 1.5rem);
            margin-bottom: 1.5rem;

            &-title {
                color: $primary;
                text-transform: uppercase;
            }
        }
    }
}