// Banner
.card-banner {
    border-radius: 0;
    border-width: 0;

    .card {
        &-img {
            border-radius: inherit;
        }
    }
}

// Sidebar
.card-sidebar {
    border-width: 0;
    background-color: unset;

    .card {
        &-header {
            background-color: unset;
            border-bottom-width: 0;
            padding: 0 0 1rem;
        }

        &-body {
            background-color: white;
        }
    }
}