footer {
    background-color: $primary;
    padding: 1rem 0;
    margin-top: 5rem;
    position: relative;
    font-family: "DB HeaventRounded";
    font-size: 1.25rem;

    .footer {
        display: flex;
        justify-content: space-between;

        &-link {
            margin-bottom: 0;

            a {
                @include hover-focus {
                    opacity: .8;
                }
            }
        }

        &-totop {
            display: block;
            position: absolute;
            top: -1.5rem;
            left: 0;
            right: 0;
            margin: 0 auto;
            text-align: center;

            .btn {
                box-shadow: $box-shadow-sm;

                @include hover-focus {
                    box-shadow: $box-shadow;
                }
            }
        }
    }


}