// Section
section {
    margin-bottom: 8rem;

    @include media-breakpoint-down(md) {
        margin-bottom: 4rem;
    }
}

// Banner
#banner {
    .banner-slide {
        &-img {
            width: 100%;
        }
    }

    .slick {
        &-dots {
            bottom: 2.5%;

            li {
                width: 2rem;
                height: .25rem;

                button {
                    width: 100%;
                    height: 100%;
                    padding: 0;
                    background-color: #fff;
                    opacity: .5;

                    &::before {
                        display: none;
                    }
                }

                &.slick-active {
                    button {
                        opacity: 1;
                    }
                }
            }
        }
    }

    // .banner-slide {
    //     .slick {
    //         &-dots {
    //             bottom: 0.5rem;

    //             li {
    //                 width: 2.5rem;
    //                 height: .25rem;

    //                 button {
    //                     width: 100%;
    //                     height: 100%;

    //                     &::before {
    //                         content: '';
    //                         width: inherit;
    //                         height: inherit;
    //                         background-color: white;
    //                     }
    //                 }
    //             }

    //             @include media-breakpoint-down(sm) {
    //                 bottom: 0rem;

    //                 li {
    //                     width: 2rem;
    //                     height: .15rem;

    //                     button {
    //                         padding: 0;
    //                     }
    //                 }
    //             }
    //         }
    //     }
    // }

    // .card {
    //     &-banner {
    //         border-width: 0;
    //         border-radius: 0
    //     }
    // }
}

// Promotion
#promotion {
    .promotion {
        &-title {
            font-weight: 800;
            margin-bottom: 4.5rem;
        }

        &-slide {
            &-item {
                margin-left: 30px;
                padding-bottom: 30px;
            }

            &-link {
                display: block;
                border-radius: 20px;
                overflow: hidden;
                @include transition($transition-base);

                img {
                    width: auto;
                    height: 470px;
                    object-fit: cover;
                }

                @include hover-focus {
                    box-shadow: $box-shadow;
                    @include transition($transition-base);
                }
            }
        }
    }

    @include media-breakpoint-up(xl) {
        padding-left: 140px;
    }
}

// Shop
#shop {
    background-color: $body-bg;
    // box-shadow: $box-shadow;
    box-shadow: 0 2px 12px 0 rgba(#3F1266, .18);

    .shop {
        &-slide {
            &-item {
                margin-right: 30px;
            }
        }
    }
}

// Directory
#directory {
    .list-floor {
        list-style: none;
        padding-left: 0;

        &-title {
            font-weight: 800;
        }

        @include media-breakpoint-between(sm, md) {
            display: flex;

            .list-floor-item {
                &:not(:last-child) {
                    margin-right: 1rem;
                }
            }

            .list-floor-hr {
                display: none;
            }
        }

        @include media-breakpoint-down(md) {
            br {
                display: none;
            }
        }
    }

    .card-directory {
        background-color: $primary;
        padding: 3rem 6rem;
        border-radius: 0;
        border-width: 0;
        box-shadow: 0 0 24px 0 rgba($primary, 0.7);

        @include media-breakpoint-down(md) {
            padding: 1rem;
        }

        .card {
            &-title {
                color: white;
                font-weight: bold;
                margin-bottom: 3rem;
                font-size: 1.8rem;

                small {
                    display: block;
                    font-size: 75%;
                    font-weight: bold;
                }
            }
        }

        .list-group {
            &-item {
                text-transform: uppercase;
                background-color: transparent;
                border-color: white;
                color: white;
                @include rfs(20);
                font-weight: bold;
                padding: 1.5rem 0;
                @include transition($transition-base);

                &:last-child {
                    border-bottom: 1px solid white;
                    border-bottom-left-radius: 0;
                    border-bottom-right-radius: 0;
                }

                @include hover-focus {
                    padding-left: 1.5rem;
                    background-color: rgba(white, .15);
                    @include transition($transition-base);
                }

                @include media-breakpoint-down(sm) {
                    font-size: 1rem;
                }
            }

            &-icon {
                display: inline-block;
                min-width: 2rem;

                img {
                    width: 1.5rem;
                    height: 1.5rem;
                    object-fit: contain;
                }
            }
        }
    }
}

// Event & Gallery
#event-gallery {

    .event,
    .gallery {
        &-title {
            font-weight: bold;
            font-size: 1.8rem;
            margin-bottom: 3rem;

            small {
                display: block;
                font-size: 75%;
                font-weight: bold;
            }
        }
    }

    .event {
        &-list {
            list-style: none;
            padding-left: 0;

            &-item {
                border-top: 2px solid $dark;
                font-family: "DB HeaventRounded";

                &:last-child {
                    border-bottom: 2px solid $dark;
                }
            }

            &-link {
                display: flex;
                align-items: center;
                color: $body-color;
                padding: 1.25rem 0;
                @include transition($transition-base);

                @include hover-focus {
                    color: $primary;
                    @include transition($transition-base);
                }

                span {
                    font-weight: 300;
                }

                h6 {
                    color: inherit;
                    font-weight: 700;
                    font-size: 2rem;
                }

                p {
                    margin-bottom: 0;
                    font-size: 1.5rem;
                    // font-weight: bold;
                }
            }

            &-img {
                display: block;
                margin-right: 1rem;

                img {
                    width: 8.4rem;
                    height: 8.4rem;
                    border-radius: 20px;
                    object-fit: cover;
                    @include transition($transition-base);
                }
            }
        }

        &-nav {
            position: relative;
            display: flex;
            justify-content: flex-end;
            margin-top: 1rem;
        }

        @include media-breakpoint-up(xl) {
            padding-right: 3rem;
        }

        @include media-breakpoint-down(lg) {
            margin-bottom: 4rem;
        }
    }

    .gallery {
        &-slide {
            &-item {
                img {
                    width: 100%;
                    display: block;
                    border-radius: 20px;
                }
            }

            &.slider-for {
                margin-bottom: 1rem;
            }

            &.slider-nav {
                display: flex;

                .gallery-slide-item {
                    margin-right: .5rem;
                    @include transition($transition-base);

                    img {
                        border-radius: 10px;
                    }

                    @include hover-focus {
                        cursor: pointer;
                        opacity: .8;
                        @include transition($transition-base);
                    }
                }

                .slick-arrow {
                    display: flex;
                    align-items: center;
                    background-color: $body-bg;
                    padding-left: 1rem;
                }
            }
        }

        @include media-breakpoint-up(xl) {
            padding-left: 3rem;
        }
    }
}