.list-directory {
    position: relative;
    width: 100%;
    height: 600px;
    list-style: none;
    padding-left: 0;
    text-transform: uppercase;
    display: block;

    &-item {
        @include media-breakpoint-up(xl) {
            padding-right: 1.5rem;
        }
    }

    &-link {
        background-color: white;
        display: flex;
        align-items: center;
        padding: .5rem;
        border: 2px solid transparent;

        @include hover-focus {
            border-color: $primary;
            box-shadow: 0 0 4px rgba($primary, .5);
        }
    }

    &-detail {
        width: 100%;
    }

    &-img {
        margin-right: .5rem;

        img {
            width: 100px;
            height: 100px;
            object-fit: cover;
            border-radius: .5rem;
        }
    }
}

.list-sidebar {
    position: relative;
    width: 100%;
    height: 600px;
    list-style: none;
    padding-left: 0;

    &-item {
        @include media-breakpoint-up(xl) {
            padding-right: 1.5rem;
        }
    }

    &-link {
        padding: .5rem;
        display: flex;
        border: 2px solid transparent;
        @include transition($transition-base);

        @include hover-focus {
            border-color: $primary;
            box-shadow: 0 0 4px rgba($primary, .5);
            @include transition($transition-base);
        }
    }

    &-img {
        margin-right: .5rem;

        img {
            width: 80px;
            height: 80px;
            object-fit: cover;
            border-radius: 1rem;
        }
    }

    &-detail {
        font-family: "DB HeaventRounded";

        h6 {
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            margin-bottom: 0;
        }

        p {
            font-size: medium;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            margin-bottom: 0;
            max-height: 48px;
        }
    }
}