.main {
    &-header {
        h4 {
            padding-top: 2rem;
            color: $primary;
        }
        h2 {
            font-weight: 700;
            margin-bottom: 1.5rem;
        }
        hr {
            border-top-color: $dark;
        }
        &-directory {
            .container {
                min-height: 30vh;
                position: relative;
                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    right: 0;
                    width: 100%;
                    height: 100%;
                    // background: url('../image/bg/directory.png') no-repeat right center;
                    background-size: auto 100%;
                    @include media-breakpoint-down(md) {
                        opacity: .6;
                    }
                    * {
                        position: relative;
                    }
                }
            }
        }
    }
    &-content {
        &-slide {
            .fotorama__wrap--css3 .fotorama__html,
            .fotorama__wrap--css3 .fotorama__stage .fotorama__img {
                border-radius: 1rem !important;
            }
            &.slider-for {
                margin-bottom: 1rem;
                .main-content-slide-item {
                    img {
                        border-radius: 20px;
                    }
                }
            }
            &.slider-nav {
                display: flex;
                .main-content-slide-item {
                    margin-right: .5rem;
                    @include transition($transition-base);
                    img {
                        border-radius: 10px;
                    }
                    @include hover-focus {
                        cursor: pointer;
                        opacity: .8;
                        @include transition($transition-base);
                    }
                }
                .slick-arrow {
                    display: flex;
                    align-items: center;
                    background-color: $body-bg;
                    padding-left: 1rem;
                }
            }
            &-item {
                img {
                    width: 100%;
                }
            }
        }
    }
}