// Colors
$primary: #ed0281;

$body-color: #1a1a1a;
$headings-color: #000000;
$navbar-light-color: $body-color;
$navbar-light-hover-color: $primary;

// Font
$font-family-base: 'Celias',
'DB HelvethaicaMon X';
$enable-responsive-font-sizes: true;
$h1-font-size: 1rem * 2.5;
$h2-font-size: 1rem * 2;
$h3-font-size: 1rem * 1.75;
$h4-font-size: 1rem * 1.5;
$h5-font-size: 1rem * 1.25;
$h6-font-size: 1rem;

// Button
$btn-border-radius: 0;

// Link
$link-hover-decoration: none;