.card-why {
    margin-right: 1.5rem;
    border-width: 0;
    background-color: unset;

    &:focus {
        outline: none;
    }

    .card {
        &-img {
            border-radius: 1rem;
        }

        &-text {
            color: $text-muted;
        }
    }
}

.card-rental {
    border-width: 0;
    border-radius: 0;
    padding: 10px;
    box-shadow: 0 6px 12px rgba(black, .16);
    margin-bottom: 1.5rem;
    background-color: #FAFAFA;

    .card {
        &-img {
            border-radius: 1rem;
            margin-bottom: 1rem;
        }

        &-title {
            text-align: center;
            color: $primary;
            text-transform: uppercase;
        }

        &-text {
            color: $text-muted;
        }
    }
}

.card-calendar {
    border-width: 0;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0 6px 12px rgba(black, .16);

    .fc-dayGrid-view .fc-body .fc-row {
        max-height: 5rem;
    }

    .fc-toolbar {
        background-color: $primary;
        margin-bottom: 0;
        padding: 1rem 0 .5rem;

        .fc-center>div {
            display: flex;
            align-items: center;
            color: white;

            .fc-button {
                background-color: unset;
                border-width: 0;

                &:focus {
                    outline: none;
                    box-shadow: none;
                }
            }
        }
    }

    .fc-view-container {
        padding: 1rem;

        .fc-head {

            th,
            td {
                border-width: 0;
            }
        }

        .fc-event,
        .fc-event-dot {
            text-align: center;
            padding: .5rem 0;
            background-color: #F468B3;
            border-color: $primary;
            border-width: 0 0 10px 0;
            border-radius: 0;
        }
    }

    .fc-ltr .fc-dayGrid-view .fc-day-top {
        text-align: center;

        .fc-day-number {
            float: unset;
        }
    }

    .fc-unthemed td.fc-today {
        background-color: rgb(255, 181, 220);
    }
}