.layout {
    position: relative;
    background: url('../../business/images/bg-body.jpg') no-repeat center center fixed;
    background-size: cover;

    &-menu {
        position: fixed;
        width: 100px;
        height: 100vh;
        text-align: center;
        display: flex;
        flex-direction: column;
        @include gradient-y($start-color: #F805B7, $end-color: $primary, $start-percent: 0%, $end-percent: 100%);
        // #F805B7 - #EE0282
        box-shadow: 3px 0 6px rgba(black, .16);
        z-index: $zindex-fixed;

        &-logo {
            padding: 2rem 0;

            img {
                max-width: 90%;
            }
        }

        .nav {
            flex-direction: column;

            &-link {
                color: white;
                padding: 1rem 0;
                font-size: .75rem;
                text-transform: uppercase;
                letter-spacing: 2px;

                @include hover-focus {
                    background-color: rgba(black, .1);
                }

                &.active {
                    background-color: rgba(black, .1);
                }
            }

            &-icon {
                margin-bottom: .25rem;
            }

            &-top {

                .nav-item {
                    position: relative;

                    &:last-child {
                        &:after {
                            content: '';
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            right: 0;
                            width: 100%;
                            height: 1px;
                            @include gradient-radial($inner-color: white, $outer-color: rgba(white, 0));
                        }
                    }

                    &:before {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        width: 100%;
                        height: 1px;
                        @include gradient-radial($inner-color: white, $outer-color: rgba(white, 0));
                    }
                }
            }

            &-bottom {
                margin-top: auto;
            }
        }

        // Mobile
        @include media-breakpoint-down(sm) {
            width: 60px;

            .nav-link {
                font-size: .4rem;
            }

            .nav-text {
                display: none;
            }

            .nav-bottom {
                margin-bottom: 80px;
            }
        }
    }

    &-content {
        padding-left: 100px;



        // Mobile
        @include media-breakpoint-down(sm) {
            padding-left: 60px;
        }

        // Desktop
        @include media-breakpoint-up(xl) {
            .container-fluid {
                padding-left: 50px;
                padding-right: 50px;
            }
        }
    }

    &-tel {
        position: fixed;
        bottom: .5rem;
        right: 1rem;
        z-index: $zindex-fixed;

        // Mobile
        @include media-breakpoint-down(md) {
            img {
                max-width: 80px;
            }
        }
    }
}