.need-more-info {
    background-color: #FBFBFB;
    padding: 60px 0;

    .form-control {
        border-width: 0;
        border-radius: .5rem;
        background-color: #F5F5F5;

        &::placeholder {
            color: #ACACAC;
        }
    }
}