.about {
    .img-rounded {
        border-radius: 1rem;
    }

    // .img-about-left {
    //     margin-left: -50px;

    // }
}

.goodplace {
    &-slide {
        &-img {
            border-radius: 1rem;
            overflow: hidden;
            margin-bottom: 1.5rem;
        }
    }
}

.why {
    overflow-x: hidden;

    &-slide {
        margin-right: -100px;
    }
}

.rental {
    position: relative;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 300px;
        background-color: $primary;
        box-shadow: 0 0 20px rgba($primary, .5);
    }

    &-header {
        position: relative;
        padding: 50px 0 30px;

        * {
            color: white;
        }
    }
}