#event-page {
    .floor {
        .card {
            border-width: 0;
            border-radius: 1rem;
            overflow: hidden;
            box-shadow: 0 0 12px rgba(black, .16);
        }

        .nav {
            &-tabs {
                border-bottom-width: 0;
            }

            &-item {
                &:not(:last-child) {
                    .nav-link {
                        border-right: 1px solid white;
                    }
                }
            }

            &-link {
                background-color: #F7F7F7;
                padding: 30px 0;
                color: $text-muted;
                border-width: 0;

                &.active {
                    color: white;
                    @include gradient-y($start-color: $primary-light, $end-color: $primary, $start-percent: 0%, $end-percent: 100%);
                }
            }
        }

        .tab-content {
            padding: 1rem;
        }

        // Mobile
        @include media-breakpoint-down(sm) {
            .nav {
                &-link {
                    padding: 10px 0;
                }

                &-floor {
                    display: block;
                    font-size: 10px;
                }

                &-tabs-organizer {
                    .nav-link {
                        font-size: .75rem;
                    }
                }
            }
        }
    }
}