#news-page {
    .about-event {
        padding-bottom: 2.5rem;
        box-shadow: 0 12px 12px rgba(black, .05);

    }

    .detail-event {
        img {
            border-radius: 1rem;
            box-shadow: 0 0 12px rgba(black, .16);
        }
    }
}